<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings><add name="stateUventaEntities" connectionString="metadata=res://*/Resorces.Libs.DBModel.csdl|res://*/Resorces.Libs.DBModel.ssdl|res://*/Resorces.Libs.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REVISION-PC;initial catalog=stateUventa;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>